:root {
  --sizeUnit: 1.5vw;
  --quoteTextColor: #000000;
  --buttonDefaultColor: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans";
  color: var(--quoteTextColor);
}

#loading-box {
  margin-top: 20vh;
}

.icon{
  height: calc(var(--sizeUnit) * 3);
  display: block;
  margin: 0 auto var(--sizeUnit) auto;
}

.primary-text {
  font-size: calc(var(--sizeUnit) * 3);
  font-weight: 600;
  margin: 0;
  text-align: center;
}

#text {
  text-align: left;
}

#quote-box {
  width: calc(var(--sizeUnit) * 50);
  margin: 10vh auto;
}

.custom-message {
  font-size: var(--sizeUnit);
}

#quote {
  padding: calc(var(--sizeUnit) * 3);
  margin-bottom: 1.5vw;
}

#author {
  font-size: calc(var(--sizeUnit) * 2);
  font-weight: 300;
  margin-bottom: 0;
}

#tweet-container:hover > #twitter-logo {
  filter: brightness(0%);
}

#tweet-container:hover > #tweet-quote {
  border-bottom-color: var(--quoteTextColor);
}

#twitter-logo {
  width: calc(var(--sizeUnit) * 1.25);
  position: relative;
  top: calc(var(--sizeUnit) * 0.1);
  padding-right: calc(var(--sizeUnit) * 0.2);
  filter: invert(99%) sepia(0%) saturate(21%) hue-rotate(240deg) brightness(82%) contrast(93%);
}

#tweet-quote {
  text-decoration: none;
  font-size: var(--sizeUnit);
  color: var(--quoteTextColor);
  border-bottom: 
    solid 
    #c9c9c9
    calc(var(--sizeUnit) * 0.1);
}

i {
  padding-left: calc(var(--sizeUnit) * 0.1);
}

#new-quote {
  border: none;
  background-color: var(--quoteTextColor);
  font-family: "Work Sans";
  font-weight: 600;
  font-size: var(--sizeUnit);
  padding: var(--sizeUnit);
  color: var(--buttonDefaultColor);
  float: right;
}

#new-quote:hover {
  cursor: pointer;
  color: var(--buttonDefaultColor) !important; /* since (non-hover) font-color is assigned via JS, need to override it here for the hover state with `!important` */
}

.new-quote-data-state {
  position: relative;
  top: calc(var(--sizeUnit) * -6);
  left: var(--sizeUnit);
}

#legend {
  display: flex;
  width: calc(var(--sizeUnit) * 50);
  gap: var(--sizeUnit);
}

.legend-label {
  font-weight: 600;
  font-size: calc(var(--sizeUnit) * 0.65);
  line-height: 0.7;
  flex-grow: 1;
}
.legend-label:first-of-type {
  text-align: right;
}

#legend-colors {
  flex-grow: 20;
  height: calc(var(--sizeUnit) * 0.5);
  background: linear-gradient(
    90deg, 
    lab(85% 0 125),
    lab(85% -125 0) 50%,
    lab(85% 0 -125)
  );
}