:root {
  --sizeUnit: 1.5vw;
  --quoteTextColor: #000000;
  /* --accentColor: #e2e43a; */
  /* --accentColor: orange; */
  --preHoverColor: #c9c9c9;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans";
  padding: 0;
}

#quote-box {
  width: calc(var(--sizeUnit) * 50);
  margin: 10vh auto;
}

#quote {
  padding: calc(var(--sizeUnit) * 3);
  background-color: var(--accentColor);
  margin-bottom: 1.5vw;
}

#text {
  font-size: calc(var(--sizeUnit) * 3);
  font-weight: 600;
  margin: 0;
}

#author {
  font-size: calc(var(--sizeUnit) * 2);
  font-weight: 300;
  margin: 3vw 0 0 0;
}

#tweet-container:hover > #twitter-logo {
  filter: brightness(0%);
}

#tweet-container:hover > #tweet-quote {
  border-bottom-color: var(--quoteTextColor);
}

#twitter-logo {
  width: calc(var(--sizeUnit) * 1.25);
  display: inline-block;
  position: relative;
  top: calc(var(--sizeUnit) * 0.1);
  padding-right: calc(var(--sizeUnit) * 0.2);
  filter: invert(99%) sepia(0%) saturate(21%) hue-rotate(240deg) brightness(82%) contrast(93%);
}

#tweet-quote {
  text-decoration: none;
  color: var(--quoteTextColor);
  font-size: var(--sizeUnit);
  border-bottom: 
    solid 
    var(--preHoverColor) 
    calc(var(--sizeUnit) * 0.1);
}

i {
  display: inline-block;
  padding-left: calc(var(--sizeUnit) * 0.1);
}

#new-quote {
  border: none;
  background-color: var(--quoteTextColor);
  color: var(--accentColor);
  font-family: "Work Sans";
  font-weight: 600;
  font-size: var(--sizeUnit);
  padding: var(--sizeUnit);
  position: relative;
  top: -9vw;
  left: var(--sizeUnit);
  float: right;
}

#new-quote:hover {
  cursor: pointer;
  color: #ffffff;
}